@import 'style/index.scss';

.sidebar-menu {
	margin-top: 10px;
	padding-left: 0;
	.item {
		padding: 25px 0 25px 20px;
		cursor: pointer;
		margin: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
		span {
			color: #768c9a;
			font-size: 14px;
			margin-left: 15px;
		}
	}
}
