@import './variables.scss';

.category-setup {
	&-wrapper {
		.mui-form {
			margin-top: 30px;
			padding: 30px 20px;
			border: 2px solid $border;
			background-color: #ffffff;
			max-width: 920px;
			.field-button {
				display: flex;
				width: 100%;
				height: 100%;
				margin-top: 10px;
				justify-content: flex-end;
				align-items: flex-end;
			}
		}
	}
}
