@import 'style/index.scss';

.sidebar {
	&-wrapper {
		min-width: 260px;
		min-height: 100vh;
		background-color: $darkBlue;
		position: fixed;
		right: -200vw;
		top: 0;
		z-index: 2;
		&.open {
			position: absolute;
			right: 0;
		}
		@media (min-width: $phone) {
			position: relative;
			right: auto;
			top: auto;
		}
	}
}
