@import 'style/index.scss';

.avatar-wrapper {
	.username {
		font-size: 13px;
		color: $dark;
		margin-right: 10px;
		cursor: pointer;
		.mui-dropdown {
			.mui-btn {
				box-shadow: none;
				text-transform: none;
				height: auto;
				padding: 0;
				margin: 0;
				.mui-caret {
					border: none;
					background-image: url('../../assets/images/icons/small-down.svg');
					width: 11px;
					height: 7px;
				}
			}
		}
		.mui-dropdown__menu {
			min-width: 120px;
		}
	}
	.photo {
		width: 38px;
		height: 38px;
		overflow: hidden;
		border-radius: 50%;
		img {
			object-fit: cover;
			min-width: 100%;
			height: 100%;
		}
	}
}
